@import '@/styles/font.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========================================== TAILWIND STYLES */
@layer base {
  :root {
    --gradient: #00f260;

    --background: 153 65% 3.76%;
    --foreground: 153 10% 97.35%;

    --muted: 153 50% 14.1%;
    --muted-foreground: 153 10% 54.7%;

    --popover: 153 45% 6.109999999999999%;
    --popover-foreground: 153 10% 97.35%;

    --card: 153 45% 6.109999999999999%;
    --card-foreground: 153 10% 97.35%;

    --border: 153 50% 14.1%;
    --input: 153 50% 14.1%;

    --primary: 153 100% 47%;
    --primary-foreground: 153 10% 4.699999999999999%;

    --secondary: 153 50% 14.1%;
    --secondary-foreground: 153 10% 97.35%;

    --accent: 153 50% 14.1%;
    --accent-foreground: 153 10% 97.35%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 153 10% 97.35%;

    --ring: 153 100% 47%;

    --white: 0 0% 100%;
    --black: 0 0% 0%;
  }

  /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff !important;
    transition: var(--transition) 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px var(--background) !important;
  }
}

@layer utilities {
  .container {
    @apply relative flex-1 overflow-y-auto px-[5%];
  }

  .sub-container {
    @apply mx-auto flex size-full flex-col py-10;
  }

  .side-img {
    @apply hidden h-full object-cover md:block;
  }
}

/* =====  REACT-DATEPICKER OVERRIDES */
.react-datepicker-wrapper.date-picker {
  display: flex;
  align-items: center;
}

.react-datepicker,
.react-datepicker__time,
.react-datepicker__header,
.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker-time__header {
  background-color: #1a1d21 !important;
  border-color: #363a3d !important;
  color: #abb8c4 !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker-time__header {
  color: #ffffff !important;
}

.react-datepicker__triangle {
  fill: #1a1d21 !important;
  color: #1a1d21 !important;
  stroke: #1a1d21 !important;
}

.react-datepicker__time-list-item:hover {
  background-color: #363a3d !important;
}

.react-datepicker__input-container input {
  background-color: #1a1d21 !important;
  width: 100%;
  outline: none;
}

.react-datepicker__day--selected {
  background-color: #24ae7c !important;
  color: #ffffff !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: #24ae7c !important;
}

.react-datepicker__time-container {
  border-left: 1px solid #363a3d !important;
}

.react-datepicker__time-list-item {
  display: flex !important;
  align-items: center !important;
}

/* =====  REACT PHONE NUMBER INPUT OVERRIDES */
.PhoneInputInput {
  outline: none;
  margin-left: 6px;
  background: var(--background);
  font-size: 14px;
  font-weight: 500;
  height: 40px;
}

.PhoneInputInput::placeholder {
  color: #1a1d21;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
