@import '@/styles/font.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========================================== TAILWIND STYLES */
@layer base {
  :root {
    --gradient: #bbd2c5;

    --background: 155 13% 6.24%;
    --foreground: 155 2% 98.9%;

    --muted: 155 10% 23.400000000000002%;
    --muted-foreground: 155 2% 57.8%;

    --popover: 155 61% 10.14%;
    --popover-foreground: 155 2% 98.9%;

    --card: 155 61% 10.14%;
    --card-foreground: 155 2% 98.9%;

    --border: 155 10% 23.400000000000002%;
    --input: 155 10% 23.400000000000002%;

    --primary: 155 20% 78%;
    --primary-foreground: 155 2% 7.800000000000001%;

    --secondary: 155 10% 23.400000000000002%;
    --secondary-foreground: 155 2% 98.9%;

    --accent: 155 10% 23.400000000000002%;
    --accent-foreground: 155 2% 98.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 155 2% 98.9%;

    --ring: 155 20% 78%;

    --white: 0 0% 100%;
    --black: 0 0% 0%;
  }

  /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff !important;
    transition: var(--transition) 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px var(--background) !important;
  }
}

@layer utilities {
  .container {
    @apply relative flex-1 overflow-y-auto px-[5%];
  }

  .sub-container {
    @apply mx-auto flex size-full flex-col py-10;
  }

  .side-img {
    @apply hidden h-full object-cover md:block;
  }

  /* ==== Stat Card */
  .stat-card {
    @apply flex flex-1 flex-col gap-6 rounded-2xl bg-cover p-6 shadow-lg;
  }

  /* ==== Status Badge */
  .status-badge {
    @apply flex w-fit items-center gap-2 rounded-full px-4 py-2;
  }

  /* Data Table */
  .data-table {
    @apply z-10 w-full overflow-hidden rounded-lg border border-dark-400 shadow-lg;
  }

  .table-actions {
    @apply flex w-full items-center justify-between space-x-2 p-4;
  }
}

/* =====  REACT-DATEPICKER OVERRIDES */
.react-datepicker-wrapper.date-picker {
  display: flex;
  align-items: center;
}

.react-datepicker,
.react-datepicker__time,
.react-datepicker__header,
.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker-time__header {
  background-color: #1a1d21 !important;
  border-color: #363a3d !important;
  color: #abb8c4 !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker-time__header {
  color: #ffffff !important;
}

.react-datepicker__triangle {
  fill: #1a1d21 !important;
  color: #1a1d21 !important;
  stroke: #1a1d21 !important;
}

.react-datepicker__time-list-item:hover {
  background-color: #363a3d !important;
}

.react-datepicker__input-container input {
  background-color: var(--background) !important;
  width: 100%;
  outline: none;
  padding-inline-start: 10px;
}

.react-datepicker__day--selected {
  background-color: #24ae7c !important;
  color: #ffffff !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: #24ae7c !important;
}

.react-datepicker__time-container {
  border-left: 1px solid #363a3d !important;
}

.react-datepicker__time-list-item {
  display: flex !important;
  align-items: center !important;
}

/* =====  REACT PHONE NUMBER INPUT OVERRIDES */
.PhoneInputInput {
  outline: none;
  margin-left: 6px;
  background: var(--background);
  font-size: 14px;
  font-weight: 500;
  height: 40px;
}

.PhoneInputInput::placeholder {
  color: #1a1d21;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
